@import "tailwindcss";

@theme {
  --color-light-green: #4ade80;
  --color-off-green: #16a349;
  --color-dark-blue: #111827;
  --color-secondary-text: #acaeb8;
  --color-tertiary-text: #79848d;
  --font-Inter: "Inter", sans-serif;
}
